.container{
    display:flex;
    flex-direction:row;   
    justify-content:space-evenly;
}
.app{
    display: flex;
    flex-direction:column;
    border: medium solid black;
    padding: 2em;
}
.h1 {
    font-size:large;
    font-weight:bold;
}