<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Functions</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <form action="/logout" style="float:right">
        <input type="submit" name='logout' value="Logout">
    </form>
    <div class='container'>
        <div class='app'>
            <span class='h1'>Add Liked Songs to Playlist</span>

            <form action="/addToPlaylist" method='post'>
                <label for="addToPlaylist">Select Playlist</label>
                <select name="addToPlaylist" id="addToPlaylist">
                    {% for playlist in playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                    {% endfor %}
                </select>

                <button type='submit'>Add Saved Songs to Playlist</button>
            </form>
            <form action="/removeFromLiked" method='post'>
                <button type='submit'>Remove All from Saved Songs</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Song Title</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songList %}
                    <tr>
                        <td>{{ song.name }}</td>
                        <td>{{ song.artist }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='app'>
            <span class='h1'>Generate Partial Playlist</span>
            <form action="/createPartialPlaylist" method='post'>
                <div>
                    <button type='submit'>Generate</button>
                </div>
                <label for="createPartialPlaylist">Select Playlist to Shorten</label>
                <select name="createPartialPlaylist" id="createPartialPlaylist">
                    {% for playlist in followedPlaylists %}
                    <option value="{{ playlist.id }}">{{ playlist.name }} - {{ playlist.length }} hr</option>
                    {% endfor %}
                </select>
                <div>
                    <label for="newName">Name of Shortened Playlist</label>
                    <input name='newName' type="text" autocomplete='off'>
                </div>
                <div>
                    <label for="shuffleOn">Shuffle?</label>
                    <input name='shuffleOn' type="checkbox">
                </div>
                <div>
                    <label for="playlistLength">Max Length of Shortened Playlist (hr)</label>
                    <input name='playlistLength' type="text" placeholder='Min 0.5' autocomplete='off'>
                </div>
            </form>
        </div>
        <div class='app'>
            <span>Test2</span>
        </div>
    </div>
</body>

</html>