<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Functions</title>
</head>

<body>
    <h1>List of Saved Songs</h1>
    <form action="/logout">
        <input type="submit" name='logout' value="Logout">
    </form>
    <table>
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songList %}
            <tr>
                <td>{{ song.name }}</td>
                <td>{{ song.artist }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>